#check if server mod_rewrite.c module installed. 
<IfModule mod_rewrite.c>

RewriteEngine On

RewriteRule ^([a-zA-Z]+)$ index.php?action=$1 
# RewriteRule ^admin/([a-zA-Z]+)$ indexAdmin.php?action=$1 





